appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1733753955715/work
archspec @ file:///home/conda/feedstock_root/build_artifacts/archspec_1737352602016/work
asciimatics @ file:///home/conda/feedstock_root/build_artifacts/asciimatics_1737496822103/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1763409923949/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_attrs_1773935801/work
backports.zstd @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_backports.zstd_1767045000/work
bcrypt @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_bcrypt_1762497792/work
beautifulsoup4==4.14.3
bidict @ file:///home/conda/feedstock_root/build_artifacts/bidict_1734272627465/work
bladerf @ file:///home/conda/feedstock_root/build_artifacts/bladerf-split_1741636888252/work/host/libraries/libbladeRF_bindings/python
bleak==0.22.3
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1731096409132/work
boltons @ file:///home/conda/feedstock_root/build_artifacts/boltons_1749686179973/work
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1764017116075/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1772001073725/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1761202952988/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1773659966602/work
click @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_click_1764518652/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
conda @ file:///Users/runner/miniforge3/conda-bld/conda_1772191448135/work/conda-src
conda-libmamba-solver @ file:///home/conda/feedstock_root/build_artifacts/conda-libmamba-solver_1770137318695/work/src
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1736345463896/work
conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1751548120229/work
construct @ file:///home/conda/feedstock_root/build_artifacts/construct_1701541740328/work
contourpy @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_contourpy_1769156157/work
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography-split_1770772327282/work
curl_cffi==0.13.0
cycler @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_cycler_1764466758/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1740384970518/work
digital_rf==2.6.14
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1734729835256/work
docutils @ file:///home/conda/feedstock_root/build_artifacts/docutils_1766092521263/work
ephem @ file:///Users/runner/miniforge3/conda-bld/ephem_1772283644666/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1763918002538/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1756729339227/work
Flask @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_flask_1771489274/work
Flask-SocketIO @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_flask-socketio_1771692473/work
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1773159635184/work
frozendict @ file:///Users/runner/miniforge3/conda-bld/frozendict_1763082885869/work
fs @ file:///home/conda/feedstock_root/build_artifacts/fs_1683650158618/work
future @ file:///home/conda/feedstock_root/build_artifacts/future_1738926421307/work
gevent @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_gevent_1762445372/work
gevent-websocket==0.10.1
greenlet @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_greenlet_1771658526/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h11_1767729720/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h2_1756364871/work
h5py @ file:///Users/runner/miniforge3/conda-bld/h5py_1764017339563/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1760286409563/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1773931568/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1736252299705/work
invoke @ file:///home/conda/feedstock_root/build_artifacts/invoke_1760146001278/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ipython_1772790149/work
ipython_pygments_lexers @ file:///home/conda/feedstock_root/build_artifacts/ipython_pygments_lexers_1737123620466/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1733308265247/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jinja2_1764517220/work
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1733814567314/work
jsonpointer @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jsonpointer_1765026384/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jsonschema_1767839954/work
jsonschema-specifications @ file:///tmp/tmptzik3dqa/src
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_kiwisolver_1773067215/work
libm2k==0.9.0
libmambapy @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_libmambapy_1767884201/work/libmambapy
lxml @ file:///Users/runner/miniforge3/conda-bld/lxml_1762506342714/work
Mako @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_mako_1764678340/work
Markdown @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_markdown_1770694658/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1772445233284/work
matplotlib==3.10.8
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1761214490209/work
menuinst @ file:///Users/runner/miniforge3/conda-bld/menuinst_1765733184322/work
meshtastic==2.6.4
mplcursors @ file:///home/conda/feedstock_root/build_artifacts/mplcursors_1773921059138/work
msgpack @ file:///Users/runner/miniforge3/conda-bld/msgpack-python_1762504198966/work
multitasking==0.0.12
munkres==1.1.4
numexpr @ file:///Users/runner/miniforge3/conda-bld/numexpr_1762594944063/work
numpy @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_numpy_1773839165/work/dist/numpy-2.4.3-cp312-cp312-macosx_11_0_arm64.whl#sha256=c61cd5f20738913a03cf8e654039712a37b531dcd8f13fbda9b4469e5881eb17
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1769093650/work
pandas @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_pandas_1771409075/work
paramiko @ file:///home/conda/feedstock_root/build_artifacts/paramiko_1755102058754/work
parso @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_parso_1770676243/work
peewee==4.0.3
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1733301927746/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pillow @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_pillow_1770794152/work
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1733344503739/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1773199142/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pluggy_1764896838/work
ply @ file:///home/conda/feedstock_root/build_artifacts/ply_1733239724146/work
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1756321756983/work
protobuf==6.31.1
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1733302279685/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=92c32ff62b5fd8cf325bec5ab90d7be3d2a8ca8c8a3813ff487a8d2002630d1f
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
pyadi-iio @ file:///home/conda/feedstock_root/build_artifacts/pyadi-iio_1761231322713/work
pycairo==1.29.0
pycosat @ file:///Users/runner/miniforge3/conda-bld/pycosat_1757744682161/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pyfda @ file:///home/conda/feedstock_root/build_artifacts/pyfda_1762474328168/work
pyfiglet @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyfiglet_1755537543/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1750615794071/work
PyGObject==3.54.5
pylibiio @ file:///home/conda/feedstock_root/build_artifacts/libiio-split_1771612105134/work/bindings/python/build
PyNaCl @ file:///Users/runner/miniforge3/conda-bld/pynacl_1772171193196/work
pyobjc-core==10.3.2
pyobjc-framework-Cocoa==10.3.2
pyobjc-framework-CoreBluetooth==10.3.2
pyobjc-framework-libdispatch==10.3.2
PyOpenGL @ file:///Users/runner/miniforge3/conda-bld/pyopengl_1756496298836/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1769003998/work
Pypubsub==4.0.3
PyQt5==5.15.11
PyQt5_sip==12.17.0
pyqtgraph @ file:///home/conda/feedstock_root/build_artifacts/pyqtgraph_1763549747586/work
pyserial==3.5
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
python-engineio @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-engineio_1770432177/work
python-socketio @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-socketio_1770432072/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pytz_1773679724/work
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1770223459631/work
pyzmq @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_pyzmq_1771717073/work
QDarkStyle @ file:///home/conda/feedstock_root/build_artifacts/qdarkstyle_1736088649807/work
QtPy @ file:///home/conda/feedstock_root/build_artifacts/qtpy_1749167083742/work
referencing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_referencing_1760379115/work
requests @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_requests_1766926974/work
rpds-py @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_rpds-py_1764543161/work
ruamel.yaml @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_ruamel.yaml_1766175793/work
ruamel.yaml.clib @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_ruamel.yaml.clib_1766159558/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1771879268266/work/dist/scipy-1.17.1-cp312-cp312-macosx_11_0_arm64.whl#sha256=2a58ef7f13308c8e4b5dba4897a92c7df6c80d681c6a2a8661b6a0ca68eca564
setuptools==82.0.1
simple-websocket @ file:///home/conda/feedstock_root/build_artifacts/simple-websocket_1734500610592/work
sip @ file:///Users/runner/miniforge3/conda-bld/sip_1773071308176/work
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
soupsieve==2.8.3
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
tabulate==0.9.0
toml @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_toml_1764486833/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tomli_1768146676/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1765836479191/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tqdm_1770153424/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
truststore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_truststore_1766494826/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1765719872007/work
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1770909247161/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1767817748113/work
watchdog @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_watchdog_1772608083/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1770634525285/work
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1759928050786/work
websockets==16.0
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_werkzeug_1771530143/work
wheel==0.46.3
wsproto @ file:///home/conda/feedstock_root/build_artifacts/wsproto_1763678090349/work
yfinance==1.2.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_zipp_1764460141/work
zope.event @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_zope.event_1762519052/work
zope.interface @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_zope.interface_1767957180/work
zstandard==0.25.0
